@page "/"

<article>
	<div class="display-box">
		<span>信道：@_chanel_display，</span>
		<span>频率：@_fre_display</span>
	</div>
	<div>
		<button @onclick="PreviousChannel">上一个频率</button>
		<button @onclick="NextChannel">下一个频率</button>
	</div>
	<div>
		<button @onclick="ResetChannel">将频率重置为57MHz</button>
		<button @onclick="GetCurrentChannel">重新获取设备信息</button>
	</div>
	<div>
		强度(Level)：
		<select @bind="SelectedLevel">
			@foreach (var level in _st7000_operator.Database.LevelList)
			{
				<option>@level</option>
			}
		</select>
	</div>
</article>
