@page "/"
@using ModulatorLib;

<body>
	<div style="margin-bottom:1em;">
		<input style="width:100%" @bind="_requestUrl" />
	</div>
	@foreach (KeyValuePair<string, FormItem> pair in _form)
	{
		var key = pair.Key;
		var formItem = pair.Value;

		<div>
			<span>@key:</span>
			@switch (formItem.Type)
			{
			case "FormItem":
				{
					<input @bind="formItem.Value" />
					break;
				}
			case "SelectTag":
				{
					var selectItem = (SelectTag)formItem;
					var options = selectItem.Options;
					<select @bind="selectItem.Value">
						@foreach (string option in options)
						{
							<option>@option</option>
						}
					</select>
					break;
				}
			}
		</div>
	}
	<div>
		<button @onclick="OnSubmitButtonClick">提交按钮</button>
		<button @onclick="OnNextFreq">下一个频率</button>
		<button @onclick="OnFlush">刷新</button>
	</div>
</body>